
.terminal-path {
  --step-text: #1f2937;
  --step-background: #f3f4f6;
}

html.dark .terminal-path {
  --step-background: #1f2937;
}

.terminal-path {
  color: var(--step-text);

  & > .terminal-path-step {
    &:not(:last-child) {
      padding-right: 0.5rem;
    }

    &:first-child {
      padding-left: 0.5rem;
      background: #9333ea;
      &:last-child::after {
        color: #9333ea;
        background: var(--step-background);
      }
    }

    &:not(:first-child)::before {
      padding-right: 0.5rem;
      content: "";
    }

    &:last-child::after {
      content: "█";
    }

    &:nth-child(2) {
      background: #c026d3;
      &::before {
        color: #9333ea;
        background: #c026d3;
      }
      &:last-child::after {
        color: #c026d3;
        background: var(--step-background);
      }
    }

    &:nth-child(3) {
      background: #2563eb;
      &::before {
        color: #c026d3;
        background: #2563eb;
      }
      &:last-child::after {
        color: #2563eb;
        background: var(--step-background);
      }
    }

    &:nth-child(4) {
      background: #0891b2;
      &::before {
        background: #0891b2;
        color: #2563eb;
      }
      &:last-child::after {
        color: #0891b2;
        background: var(--step-background);
      }
    }
  }

  &.terminal-path-branch {
    & > .terminal-path-step:last-child {
      padding-right: 0.5rem;
      background: #16a34a;
      &::before {
        background: #16a34a;
      }
      &::after {
        background: #16a34a;
        content: none;
      }
    }

    &.dirty > .terminal-path-step:last-child {
      background: #eab308;

      &::after {
        padding-left: 0.5rem;
        color: var(--step-text);
        background: #eab308;
        content: "±";
      }

      &::before {
        padding-right: 0.5rem;
        background: #eab308;
        content: "";
      }
    }

    &::after {
      color: #16a34a;
      background: var(--step-background);
      content: "";
    }

    &.dirty::after {
      color: #eab308;
      background: var(--step-background);
      content: "";
    }
  }
}
