.path {
  @apply text-gray-800;

  & > .step {
    @apply pr-2;

    &:first-child {
      @apply pl-2 bg-purple-600;
    }

    &:not(:first-child)::before {
      @apply  pr-2;
      content: "";
    }

    &:nth-child(2) {
      @apply bg-fuchsia-600;
      &::before {
        @apply text-purple-600 bg-fuchsia-600;
      }
    }

    &:nth-child(3) {
      @apply bg-cyan-600;
      &::before {
        @apply text-fuchsia-600 bg-cyan-600;
      }
    }

    &:nth-child(4) {
      @apply bg-blue-600;
      &::before {
        @apply text-cyan-600 bg-blue-600;
      }
    }

    &:last-child {
      @apply bg-green-600;
      &::before {
        @apply bg-green-600;
      }
    }
  }

  &::after {
    @apply text-green-600 bg-gray-800;
    content: "";
  }

  &.dirty {
    & > .step:last-child {
      @apply bg-yellow-500;

      &::after {
        @apply pl-2;
        content: "±";
      }

      &::before {
        @apply pr-2  bg-yellow-500;
        content: "";
      }
    }

    &::after {
      @apply text-yellow-500 bg-gray-800;
      content: "";
    }
  }
}