.path {
  @apply text-gray-800;

  & > .step {
    &:not(:last-child) {
      @apply pr-2;
    }

    &:first-child {
      @apply pl-2 bg-purple-600;
      &:last-child:after {
        @apply text-purple-600 bg-gray-800;
      }
    }

    &:not(:first-child)::before {
      @apply  pr-2;
      content: "";
    }

    &:last-child::after {
      content: "█";
    }

    &:nth-child(2) {
      @apply bg-fuchsia-600;
      &::before {
        @apply text-purple-600 bg-fuchsia-600;
      }
      &:last-child:after {
        @apply text-fuchsia-600 bg-gray-800;
      }
    }

    &:nth-child(3) {
      @apply bg-blue-600;
      &::before {
        @apply text-fuchsia-600 bg-blue-600;
      }
      &:last-child:after {
        @apply text-blue-600 bg-gray-800;
      }
    }

    &:nth-child(4) {
      @apply bg-cyan-600;
      &::before {
        @apply text-blue-600 bg-cyan-600;
      }
      &:last-child:after {
        @apply text-cyan-600 bg-gray-800;
      }
    }
  }

  &.branch {
    & > .step:last-child {
      @apply pr-2 bg-green-600;
      &::before {
        @apply bg-green-600;
      }
      &::after {
        @apply bg-green-600;
        content: none;
      }
    }

    &.dirty > .step:last-child {
      @apply bg-yellow-500;

      &::after {
        @apply pl-2 text-gray-800 bg-yellow-500;
        content: "±";
      }

      &::before {
        @apply pr-2  bg-yellow-500;
        content: "";
      }
    }

    &::after {
      @apply text-green-600 bg-gray-800;
      content: "";
    }
    
    &.dirty::after {
      @apply text-yellow-500 bg-gray-800;
      content: "";
    }
  }
}
